@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Irish+Grover&display=swap');

.music-section {
  padding: 40px 40px 20px;
  overflow-x: hidden;
}

.music-section h2 {
  font-size: 1.8rem;
  font-family: 'Inria Serif', serif;
  margin-bottom: 20px;
  color: white;
}

.music-cards-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-behavior: smooth;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.music-cards-container::-webkit-scrollbar {
  display: none; 
}

  